# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
bridge/node_modules
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ambiente
.env
bridge/.env
*.env.local

# Angular
/.angular/cache

# OS
.DS_Store
Thumbs.db
